In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Create a new dataframe from a python dictionary
data = {
    'Name' : ['John', 'Jane', 'Michael', 'Emily', 'David'],
    'Math' : [85, 92, 78, np.nan, 88],
    'science' : [78, 45, 85, 91, 82]
}

df = pd.DataFrame(data);

df

      Name  Math  science
0     John  85.0       78
1     Jane  92.0       45
2  Michael  78.0       85
3    Emily   NaN       91
4    David  88.0       82

In [ ]:
#descriptive statistics on the data
df.describe()

            Math    science
count   4.000000   5.000000
mean   85.750000  76.200000
std     5.909033  18.074844
min    78.000000  45.000000
25%    83.250000  78.000000
50%    86.500000  82.000000
75%    89.000000  85.000000
max    92.000000  91.000000

In [13]:
#Accessing a specific coloumn 
math_column = df['Math']
science_column = df['Science']

math_column

KeyError: 'Science'

In [12]:
#filter tha data
failing_science = df[df['Science'] < 50]

failing_science

KeyError: 'Science'

In [23]:
#adding a new column
df['Total score'] = df['Math'] + df['science']
df

TypeError: can only concatenate str (not "int") to str

In [14]:
#sort tha data
sorted_math_values = df.sort_values(by='Math', ascending=True)

sorted_math_values

      Name  Math  science
2  Michael  78.0       85
0     John  85.0       78
4    David  88.0       82
1     Jane  92.0       45
3    Emily   NaN       91

In [17]:
#update data
df.loc[df['Name'] == 'Emily', 'Math'] = '12'

df

C:\Users\Sarbj\AppData\Local\Temp\ipykernel_27068\1305369232.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '12' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['Name'] == 'Emily', 'Math'] = '12'

      Name  Math  science
0     John  85.0       78
1     Jane  92.0       45
2  Michael  78.0       85
3    Emily    12       91
4    David  88.0       82

In [20]:
#Group data and calculate the mean of numeric columns
grouped = df.groupby('science').mean(numeric_only=True)
grouped

Empty DataFrame
Columns: []
Index: [45, 78, 82, 85, 91]

In [24]:
#locating data
michael_science_score = df.loc[df['Name'] == 'Michael', 'Science']
michael_science_score

KeyError: 'Science'

In [25]:
#locate data by index position
third_row = df.iloc[2]
third_row

Name           Michael
Math              78.0
science             85
Total score      156.0
Name: 2, dtype: object